# Ignore compiled class files
*.class

# Ignore build directories
# Ignore target folder (compiled classes and build artifacts)
/target/
/classes/

# Ignore IntelliJ IDEA project files
.idea/
*.iml

# Ignore OS-specific files
.DS_Store
Thumbs.db